body{
    padding-top: 70px;
    height: 1200px;
}

/********** Start NavBar ***************/

/*Main Navbar*/

navbar{
    min-height: 70px;
}

.navbar-default{
    background-color:#31B0D5 ;
}

/* NavBar Bran */

.navbar-default .navbar-brand{ 
    color:#fff ;
    font-size:34px; 
    line-height: 43px;
}


.navbar-default .navbar-brand span{
    color:#fff;
}

/* NavBar Active */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{ 
    color: #fff;
    background-color:crimson;

}

.navbar-default .navbar-nav > li > a{
    color: #fff;
    line-height: 42px;
    font-size: 17px;
     -webkit-transition: font-size .5s ease;
    -o-transition: font-size .5s ease;
    -moz-transition: font-size .5s ease;
    transition: font-size .5s ease;
   
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
     font-size: 20px;
    background-color:crimson;
}

/* NavBar Dropdwon */

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color:crimson;
    color: #fff;
}


.navbar-nav > li > .dropdown-menu{
   
    min-width: 200px;
    
}

.dropdown-menu > li > a{
    padding: 6px 20px;
    -webkit-transition: padding .5s ease;
    -o-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    transition: padding .5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    color: #fff;
    background-color:black;
    padding-left: 15px;
}

.dropdown-menu .divider{
  border: .5px solid crimson;
}

.navbar-toggle{
    margin-top: 18px;
}


/********** end NavBar ***************/

/********** Start Carousel (slider) ***************/

.carousel-caption {
    bottom: 97px;
    background-color: rgba(0,0,0,.3);
    padding-left: 20px;
    padding-right: 20px;

}

.carousel-caption p {
    
    line-height:1.5;
}



 /* Start Section About */

.about{
    padding-top:60px;
    padding-bottom: 60px;
}
.about h1{
    font-weight: bold;
}
.about span {
    color:#E41B17;
}

.about .lead {
    color:#888 ;
    font-size:25px;
    margin-top: 15px;
}

  /* End Section About */
 
  /* Start Section Features*/

.features {
    background-color: #EEE;
    padding-top: 50px;
    padding-bottom: 50px;
}
.features h1{
    padding-bottom: 50px;
}

.features .feat {
    margin-bottom: 30px;
}

.features .feat span.glyphicon{
    font-size: 25px;
    color: #666;
    padding-bottom: 10px
}

.features .feat p {
    line-height: 2em;
}
  /* End Section Features*/

  /* Start Testimonials*/
.testimonials{
    padding-top: 50px;
    padding-bottom:50px; 
}


.testimonials h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
}

.testimonials span {
    color:#E41B17 ;
    font-size:20px;
    font-weight: bold;
}

.testimonials .carousel-inner{
    min-height: 160px;
}

.testimonials .carousel-indicators{
    position: static;
    width: 100%;
    margin-left: auto;
    margin-top: 15px;
}

.testimonials .carousel-indicators li{
    text-indent: 0;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: 3px solid #E41B17;
    border-radius:50%;
    opacity: .5;
   
}
.testimonials .carousel-indicators .active{
    margin-top: 20px;
    height: 80px;
    width: 80px;
    opacity: 1;
    background: none;
}
.testimonials .carousel-indicators li img{
    max-width: 100%
}
  /* End Testimonials*/


























/********** End Carousel (slider) ***************/










